<h1>{{singleSoccer.name}}</h1>

<p>name: {{singleSoccer.name}}</p>
<p>age:{{singleSoccer.age}}</p>
<p>city:{{singleSoccer.city}}</p>
<p>club:{{singleSoccer.club}}</p>

{{!-- {{this thing below is UPDATE }} --}}



<a href="/soccer/edit/{{singleSoccer._id}}">
    <button> Edit Fan </button>

</a>


{{!-- {{this thing below is DELETE }} --}}



<form action="/soccer/{{singleSoccer._id }}?_method=DELETE " method="POST">
    <input type="submit" value="Delete Soccer" />
</form>