<h1>{{singleLocation.park}}</h1>

<p>park: {{singleLocation.park}}</p>
<p>streetnumber:{{singleLocation.streetnumber}}</p>
<p>streetname:{{singleLocation.streetname}}</p>
<p>state:{{singleLocation.state}}</p>
<p>city:{{singleLocation.city}}</p>
<p>zipcode:{{singleLocation.zipcode}}</p>